<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="container">
      <br>
      <h1>BIENVENUE ! </h1>
      <h2> Psst .. enregistre-toi ou log toi pour malverser !</h2>
      <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" href="http://localhost:3000/sessions/new" class="btn btn-outline-primary">Se connecter</button>
        </div>
        <div class="col">
          <button type="button" href="http://localhost:3000/users/new" class="btn btn-primary">Créer un compte</button>
        </div>
      </div>
    </html>
